
h1{
    text-align: center;
    color:bisque
}


#mainContainer{
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
    padding: 20px; 
    border: 1px solid rgb(93, 63, 63);; 
    box-shadow: 0 0 10px rgba(219, 70, 70, 0.1); 
    outline: auto;
    background-color: azure;
}

body{
    background-color: rgb(93, 63, 63);
}

button{
    border-radius: 10px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.list {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    min-width: 50px;
    text-align: center;
}

button:hover{
    background-color: coral;
}

a{
    color:bisque;
    text-decoration-line: underline;
}

.queue{
    margin-top: 15%;
    display: inline-block;
    border:1px solid black;
    height:30px;
    width:60px;
    text-align: center;
    padding-left:44px;
    padding-top:10px;
    border-radius:10px;
    border-collapse: collapse;
    background-color: rgb(93, 80, 80);
    color:white;
}
